body {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    /* cor das letras */
    color: #3d3d3d;

    /* espaçamentos */
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

/* h1 virou .título */
.título {
    background-color: #e1edf2;
    /* espaçamento interno */
    padding: 10px;
    /* tamanho da letra */
    font-size: 32px;
}

/* h2 virou .subtítulo */
.subtítulo {
    border-bottom: 2px solid black;
}

figure {
    margin: 30px;
    padding: 15px;

    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    /* ocupa 100% da largura do elemento
    pai */
    width: 100%;
}

.matriz-empresa {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.fundadores {
    width: 275px;
    float: right;
}

.contato__subtítulo{
    display: inline;
}

.contato__info{
    margin: 16px 0 24px;
    padding-left: 32px;
}